[2016-05-16 14:00] Borfswitch opened #2 "Entrypoint Script Bug"
There is a bug in the entrypoint script that prevents the `ARTEMIS_USERNAME` environment variable from being applied to the `artemis-roles.properties` file.

Line 9 in docker-entrypoint.sh:
`sed -i "s/apollo=amq/$ARTEMIS_USERNAME=amq/g" ../etc/artemis-roles.properties`
should be:
`sed -i "s/amq=apollo/amq=$ARTEMIS_USERNAME/g" ../etc/artemis-roles.properties`

Also, the documentation says to use th

[2016-07-11 18:21] vromero commented on #2
Thanks for the feedback @Borfswitch, I'll fix it as soon as possible.

[2016-07-12 06:40] #2 closed

[2016-09-11 08:17] raulgd opened #3 "Alpine linux support..."
Hi,

I really like your image, but in an effort to make it smaller, I started playing around the idea of using Alpine Linux and Oracle Java instead of the java:8 base image which tends to be larger and uses the OpenJDK instead.

It would be nice to support Artemis in such setup, I tried to implement it but I'm getting some problems with the volume setup, would you like to help me out to get this t

[2016-09-20 23:43] vromero commented on #3
Hi @raulgd ,

Thank you! I'm glad you like it.

Yes I have been considering creating Alpine based images for a while. I'll work on it as soon as I can.

[2016-09-20 23:46] raulgd commented on #3
I'd suggest you check this out:

https://hub.docker.com/r/anapsix/alpine-java/

This guy has already alpine with the Oracle JDK setup in different ways, I use his images a lot on my projects and are very complete and compact.

I already implemented my own Artemis with this image and works nice, but I think you have more experience and would like to see how you would implement it.

[2016-10-13 20:55] wfahmer opened #4 "ARTEMIS_USERNAME not updated in artemis-roles.properties"
<code>sed -i "s/artemis=amq/$ARTEMIS_USERNAME=amq/g" ../etc/artemis-roles.properties</code>

needs to be replaced by

<code>sed -i "s/amq=artemis/$ARTEMIS_USERNAME=amq/g" ../etc/artemis-roles.properties</code>

[2016-12-07 13:30] rmohr commented on #3
You can also use

[code]

I use it for https://github.com/rmohr/docker-activemq, it works fine.

[2016-12-07 18:08] vromero commented on #3
Thanks @rmohr I'll give it a try

[2017-02-15 09:45] Mobe91 opened #6 "User credential environment vars not working"
The replacement of username/passwords in artemis-users.properties is not working since the passwords are not stored in plain text. The problematic part is:

[code]

[2017-02-20 17:48] vromero opened #8 "Log to console"
Log to console in order to use docker logging facilities

[2017-02-27 16:11] trorduja opened #9 "Will not run with mounted non-empty etc"
If you run the image with a mounted etc, containing custom configuration, it will crash with the message:

Note that this only happens when you use docker run to start a new container with an existing etc mount point. Stopping and starting an existing container works. This makes using this image in Docker Cloud with etc mounted pretty impossible.

This happens because of the if in docker-entrypoin

[2017-02-27 16:58] vromero commented on #9
Thanks will take a look as soon as I can

[2017-02-27 22:26] chrsoo opened #10 "artemis clustering with ha"
Hi,

From what I can tell clustering is not yet supported although there was some talk of it on the [thread](
http://activemq.2283324.n4.nabble.com/DISCUSS-IDEA-artemis-create-docker-td4702244.html) that lead to the creation of the `activemq-artemis-docker` image.

I believe that a

* symmetric cluster; with
* colocated replication

... would fit most expectations regarding clustering and ha. In a

[2017-03-01 14:35] vromero commented on #10
Clustering has been in my mind all the time. The problem is the proliferation of solutions: docker compose? kubernetes? mesos? rancher? others?

I haven't made my mind yet, perhaps support and document docker compose is the right thing to do, but a helm chart published in the official kubernetes repository could be an very good solution too...

Thoughts?

[2017-03-01 19:13] chrsoo commented on #10
Not sure I follow... The "only" thing that needs to be done is to configure Artemis for clustering. In other words we need to define a vanilla version of clustering that can be parameterised through Docker environment variables.

Alternatively we add support for injecting custom XML snippets in the `broker.xml`. This would really make the solution generic and could be used for enabling any Artemis

[2017-03-05 17:24] vromero commented on #4
This created issues with clustering see #10

[2017-03-05 17:24] #4 closed

[2017-03-05 17:26] #6 closed

[2017-03-07 20:00] vromero commented on #10
To mount etc should not be problematic now, plus I'm working on a method to simplify clustering, see here:
https://github.com/vromero/activemq-artemis-docker/commit/aa0acbf3479415288292b7980d870cb85cc714f5

[2017-03-11 01:39] vromero commented on #9
Fixed, see https://github.com/vromero/activemq-artemis-docker#using-a-custom-etc

[2017-03-11 01:39] #9 closed

[2017-03-11 01:42] vromero commented on #10
The image allows clusterization now, each orchestration system will be different, but see an example using kubernetes/helm here:  https://github.com/vromero/charts/tree/gh-pages/activemq-artemis

[2017-03-11 01:42] #10 closed

[2017-03-11 02:42] vromero commented on #3
Please try tag 1.5.3-alpine. And let me know. If it works well I'll back port to all versions.

[2017-03-11 02:42] #3 closed

[2017-03-11 02:43] vromero opened #13 "Use ENV var for version"

[2017-03-11 02:48] vromero opened #14 "parameter for perf-journal"

[2017-03-11 03:39] #13 closed

[2017-03-11 15:49] #8 closed

[2017-03-14 00:56] #14 closed

[2017-03-15 20:09] fernandofederico1984 opened #15 "Support of configuration snippet override"
## Problem

Currently the way a user can change a broker configuration is by dropping a file called `broker.xml` into the `etc-override` folder in the broker directory. This configuration mechanism is sufficient in case we only need to add a unique configuration layer on top of the artemis docker image.

We want to provide a way where users can extend/override the broker's configuration with multi

[2017-03-19 08:58] chrsoo commented on #10
Fantastic, thanks!

[2017-03-19 13:20] #15 closed

[2017-03-28 07:31] reinkrul opened #17 "Starting with configuration snippet (broker-00.xml) fails"
When I try to run the container with the example configuration snippet (broker-00.xml), booting fails with the following message:

When I export the container, the broker.xml seems OK to me (so something else is broken?).

[2017-03-30 00:10] vromero commented on #17
Apparently the the schema definition changes along versions:
`/schema/artemis-server.xsd` vs `/schema/artemis-configuration.xsd`.
I'll review and document.

[2017-03-30 10:17] mspapant opened #18 "Unable to connect using AWS ACS Container Service"
I cannot connect to the image using the 8161 port.

For example i telnet the ip in the 8161 but i get connection refused.

I use AWS ACS Container Service with the minimum configuration:

  "requiresAttributes": [
    {
      "value": null,
      "name": "com.amazonaws.ecs.capability.logging-driver.awslogs",
      "targetId": null,
      "targetType": null
    },
    {
      "value": null,
      "

[2017-04-07 19:46] mbukosky opened #19 "Is there any plans to create docker images of the latest 2.* versions?"

[2017-04-07 21:59] vromero commented on #19
yes indeed.

[2017-04-09 16:51] mbukosky commented on #19
Great news, is there any time frame on these releases?

Thanks

[2017-05-09 21:08] LeeWong commented on #19
Any update on this issue please. Thanks.

[2017-05-09 21:18] vromero commented on #19
There are some relevant issues in 2.0.0. I decided to not to bother on 2 until 2.1.0 that is meant to be released very very soon: https://www.mail-archive.com/dev@activemq.apache.org/msg53793.html

In the mean time, I did release 1.5.4.

[2017-05-25 16:35] mbukosky commented on #19
Now that 2.1.0 has been released, are you going to pick this back up soon?

[2017-06-13 16:25] pgandham opened #20 "Error: Could not find or load main class org.apache.activemq.artemis.boot.Artemis"
I have created my own version of Docker file using yours and i get the below error when i tried to build the image
Error: Could not find or load main class org.apache.activemq.artemis.boot.Artemis

Any idea ?

[2017-06-16 01:55] vromero commented on #20
Sorry can't help with child images, specially without sharing the DockerFile.

[2017-06-16 01:55] #20 closed

[2017-06-28 13:12] fvogl commented on #19
Hey. Would also love to see an updated image using Artemis 2.1.0.

[2017-07-01 23:44] vromero commented on #18
I'm afraid I cannot support your AWS ACS environment. If you find any problem reproducible in docker I will gladly help.

[2017-07-01 23:44] #18 closed

[2017-07-01 23:52] vromero commented on #19
I happy to anounce the availability of 2.0.0 and 2.1.0 in addition to 1.5.5

[2017-07-01 23:52] #19 closed

[2017-08-03 18:39] kbrock opened #21 "Openshift error finding logging.properties"
Hello Victor,

Have you had success running this in OpenShift?
Running this in Docker locally works great for me.
Running in OpenShift seems very close:

[code]

The error I'm getting is:

[code]

Can you think of a reason why `logging.properties` would not be found?

Thanks

[2017-08-03 19:03] kbrock commented on #21
I'm going to dig into https://github.com/vromero/activemq-artemis-docker/blob/master/docker-entrypoint.sh#L5 and see if I can find a different way of doing that

[2017-08-03 19:24] vromero commented on #21
I haven't tried it yet, will give it a try over the weekend.

[2017-09-24 19:19] mohamnag opened #22 "2.2.0 tags not pushed/do not exist on docker hub"
Thanks for the great job, this is one of the best artemis images on the docker hub however while trying to setup my test environment I came across the fact that the recent tags of `2.2.0` and `2.2.0-alpine` are not properly pushed or created on docker hub, could you please fix this?

[2017-09-26 12:05] gaalandr opened #23 "artemis 2.3.0 availalbe"
Would it be possible to update the dockerfile?

[2017-09-28 18:15] vromero commented on #22
Sorry about that, somehow they never got triggered. I manually launched the builds, there should be there already.

[2017-09-28 18:15] #22 closed

[2017-09-28 18:19] vromero commented on #23
I'll give it a try as soon as I can. But 2.3.0 brings the [new console](https://issues.apache.org/jira/browse/ARTEMIS-1270) and I would like to test it property before releasing, so it might take a bit of time.

[2017-10-01 08:13] mohamnag commented on #22
thanks, now they are.

[2017-10-03 09:12] gaalandr commented on #23
Hi Victor,

would it be possible for you to release a 2.3.0-SNAPSHOT.

I would like to use it in CI environment, for testing. I would also report if I face issues with it.

Regards,
Andras

[2017-10-03 17:28] vromero commented on #23
I have just so much time, I'll give it a try as soon as I possibly can. Apologies for the delay.

[2017-10-09 09:39] jschmied opened #24 "ARTEMIS_MAX_MEMORY is not updated for 1.5.5"
The default value in artemis.profile is "-Xmx2G" so the replacement is not working.

[2017-10-09 09:45] #24 closed

[2017-10-09 09:45] jschmied commented on #24
not a issue

[2017-10-19 21:42] vromero commented on #23
Please find 2.3.0 ready at dockerhub

[2017-10-19 21:42] #23 closed

[2017-10-20 06:11] gaalandr commented on #23
Cool! Thanks

From: Victor Romero [mailto:notifications@github.com]
Sent: Thursday, October 19, 2017 11:42 PM
To: vromero/activemq-artemis-docker <activemq-artemis-docker@noreply.github.com>
Cc: Andras Gaal/BDP/HU <andras.gaal@avon.com>; Author <author@noreply.github.com>
Subject: Re: [vromero/activemq-artemis-docker] artemis 2.3.0 availalbe (#23)

Please find 2.3.0 ready at dockerhub

—
You are r

[2017-12-07 10:56] jarek-przygodzki opened #25 "ARTEMIS_MAX_MEMORY environment variable is not respected"
The default value in artemis.profile is "-Xmx2G" so the replacement is not working.

Solution

[code]

[2017-12-12 16:03] vromero commented on #25
Thanks! will review and merge soon

[2017-12-29 03:15] #25 closed

[2018-01-03 17:39] fhgomes opened #28 "Error when use with volume"
[code]

My yml
`version: '3'
services:
    amq-artemis:
        image: vromero/activemq-artemis:2.4.0
        ports:
          - 8161:8161
          - 61616:61616
          - 1199:1199
          - 1198:1198
        environment:
           ARTEMIS_USERNAME: admin
           ARTEMIS_PASSWORD: admin
           ARTEMIS_MIN_MEMORY: 256M
           ARTEMIS_MAX_MEMORY: 1024M
           ARTEMIS_PERF_JOURN

[2018-01-03 18:21] vromero commented on #28
I'll take a look over the weekend

[2018-01-12 10:02] harneet463 opened #29 "Documentation to create cluster of Artemis in Kubernetes"
Documentation link will be highly appreciated.
The link https://github.com/vromero/charts/blob/gh-pages/activemq-artemis/README.md
is highly confusing and talks about Mysql, where as it should be ApacheMQ

[2018-01-17 13:39] fkretzer commented on #28
chmod 777 should not be a permanent solution. Any hints how to fix this?

[2018-02-02 17:00] Aracki opened #32 "Failed to connect to server"
I run docker command with/without username/pass and I got all proper INFO messages, but cannot connect to http://0.0.0.0:8161/console and also cannot use _**0.0.0.0:1883**_ when try to connect to **_MQTT_** broker.

Do I need to set up a custom address and override default configuration?

PS. I'm using macOS and 17.09.0-ce Docker version

[2018-02-03 23:48] vromero commented on #32
Could you share the exact command?

[2018-02-05 09:17] Aracki commented on #32
The most default command: `docker run vromero/activemq-artemis`

[2018-02-05 18:37] vromero commented on #32
That won't work, you'll need `-p` or `-P`: see: https://docs.docker.com/engine/userguide/networking/default_network/binding/

[2018-02-05 18:37] #32 closed

[2018-02-05 18:38] vromero commented on #32
That won't work, you'll need `-p` or `-P`: see: https://docs.docker.com/engine/userguide/networking/default_network/binding/

[2018-02-27 01:56] auskeptic opened #34 "Messages not persisted on docker container stop/start/restart or docker host restart"
If the docker host (in this instance, a boot2docker linux VM) and the container it is running on is restarted, then the messages sitting in an queue are not persisted.

Steps:
1) docker run --name artemis --restart=always --mount source=artemis-db-volume,target=/var/lib/artemis/data -d -p 8161:8161 -p 5672:5672 -e 'ARTEMIS_MIN_MEMORY=256M' -e 'ARTEMIS_MAX_MEMORY=512M' <IMAGE ID>

2) .net tester ap

[2018-02-27 03:27] #34 closed

[2018-02-27 21:35] vromero commented on #29
This is a docker image not a kubernetes helm chart.

I have, however created a fully functional helm chart in the past: https://github.com/vromero/charts/tree/gh-pages/activemq-artemis you can use it to set up your own.

[2018-02-27 21:35] #29 closed

[2018-03-03 09:39] teslavsedison opened #35 "Jolokia CORS Error"
Hi, When I deploy your dokcer image  to host machine  then such an error occuring "Operation unknown failed due to: java.lang.Exception : Origin http://45.32.145.53:8161 is not allowed to call this agent"
![image](https://user-images.githubusercontent.com/5780826/36932796-e7d93b02-1edf-11e8-8ea5-4d6afa6e79e3.png)

[2018-03-05 18:26] vromero commented on #35
Could you share the exact command line you are trying to launch the image please? I'll try it as soon as I can.

[2018-03-05 20:37] teslavsedison commented on #35
I did try only login to artemis's managament console. I did not run any specific command in coomand line

[2018-03-14 19:34] rhynl commented on #35
I had the same problem, I don't know if this is correct but, this is what I did.

Go into the docker instance and edit this file /var/lib/artemis/etc/jolokia-access.xml

change:

[code]
for:

[code]

and then restart the machine. That should work until a better solution come out.

[2018-03-19 13:59] jeuniii opened #36 "Dockerizing Apache Active MQ Artemis Master/Slave config not working"
I was able to successfully setup Apache ActiveMQ Artemis Master/Slave replication on my 2 VM cluster.

[code]

My broker.xml for Master node is :

[code]

My broker.xml for Slave node is :

[code]

The above configuration when deployed on just the 2 VMs works perfectly fine. As soon as I take the Master down, the failover is instantaneous and when I bring back the master, the fail back is instanta

[2018-03-20 04:51] vromero commented on #36
Sorry this project is about a very specific docker idea, its not about supported fully custom ones.
I'd suggest to refer to the activemq artemis user mailing list and or stackoverflow.

[2018-03-20 04:51] #36 closed

[2018-03-23 14:25] jeuniii opened #37 "Getting "The command '.....' returned a non-zero code: 4 ERROR"
I am deploying the code and get the ERROR :

`returned a non-zero code: 4`

Full log of image build is :

[code]

Any idea why this is happening ?

[2018-04-04 08:44] ferguardiola opened #38 "Can't acces web console when installing docker image on kubernetes as a service"
Hello,

I try to install artemis in kubernetes as a service.

Here are my pod and service files.

jms-service:1.0 is the same as vromero/activemq-artemis

POD:
[code]

SERVICE
[code]

The service start ok and got no error but when accessing the console in http://host:30001/console after login i got this error every few seconds in the console of the web
[code]

What am i doing wrong ? Is it necessa

[2018-04-05 00:13] vromero commented on #38
That sounds like a CORS problem. You might want to set up the CORS configuration to:
[code]

I will add at some point configuration for that, some PR's came but I requested changes and I'm waiting for them.

[2018-04-05 00:13] #38 closed

[2018-04-09 15:06] ferguardiola opened #40 "Configure cluster in kuberntes with HA"
Hello,

I've use your chart to deploy a cluster in kubernetes with HA.

But when deploying the SatefulSet

I got this error on pod-0
[code]
Here is my SatetulSet
[code]

And the Headless Service
[code]

But if i delete the pod-0 then the pod starts OK, but then this warn  is on pod-1

15:04:37,825 WARN  [org.apache.activemq.artemis.core.client] AMQ212037: Connection failure has been detected: AMQ1

[2018-04-11 16:14] daniyalj commented on #21
@kbrock A little late but for maybe someone reading in the future. I added an environment variable for the artemis version and it worked.

[2018-04-11 17:29] daniyalj commented on #36
@jeuniii I'm sorta trying to do the same thing. Are you using vromero's Dockerfile? I see that you're using Fedora/CentOS based image

[2018-04-11 21:36] kbrock commented on #21
Thanks @daniyalj

[2018-04-17 15:15] ade90036 commented on #29
I agree with @harneet463 , your helm might be working but your README.md is confusing.

It is still referring to MySQL helm specifics, probably artifact from copy and paste.

Certainly should be cleaned up.

[2018-04-17 17:11] vromero commented on #29
I might take a look at some point. You seem to have some interest @ade90036, this might be great material for a pull request.

[2018-04-20 13:55] vizdrag561 opened #41 "Alpine build error"
Hi @vromero
Thank you for your work:)
How we can to download git for 2.4.0-alpine image?

Step 13/27 : COPY merge.xslt /opt/merge
lstat merge.xslt: no such file or directory

If i'm not wrong, we can to download a Dockerfile from 2.4.0 alpine only.
So, can u give access to artemis-2.4.0-alpine folder from this repo?

[2018-04-27 07:02] nlippke commented on #41
@vromero: The alpine branch currently also not supports broker-xml merges. I think this is due to missing bash-shell (required in your entrypoint-script in master). Is there a reason why you not just add bash to the image and use the very same entrypoint-script as in master?

[2018-05-11 05:46] vromero commented on #41
@nlippke the point of alpine is having a very small image, im rewriting the build system at this very moment as the branch approach became too convoluted. I'll try to fix it along with the refactor.

[2018-05-11 05:47] vromero commented on #40
Umm sounds like a problem with the time when the hostname is created in the DNS and when the service start, Could you raise a ticket in the kubernetes repo rather than here?

[2018-05-11 05:47] #40 closed

[2018-05-11 05:55] vromero commented on #37
Remove the different `-q` to have a description of the problem in the log

[2018-05-11 05:55] #37 closed

[2018-05-12 21:57] vromero commented on #35
This is fixed:

## Settings the console's allow origin

ActiveMQ Artemis console uses Jolokia. In the default vanilla non-docker installation Jolokia does set a CORS header to
allow only localhost. In the docker image this create problems as things are rarely accesed as localhost.

Therefore the docker image does set the CORS header to `*` by default. However there is a mechanism to narrow it
down

[2018-05-12 21:57] #35 closed

[2018-05-12 21:58] #28 closed

[2018-05-12 22:06] vromero opened #42 "Build automated tests"
Build automated tests for all the docker image specific features and integrate them in the build process.

[2018-05-12 23:06] vromero commented on #17
Documented:

Please notice the `core` element change along with the versions:

- `1.0.0` up to `1.5.5`: `<core xmlns="urn:activemq:core">`
- `2.5.0` onwards: `<core xmlns="urn:activemq:core" xsi:schemaLocation="urn:activemq:core ">`

[2018-05-12 23:06] #17 closed

[2018-05-13 00:09] vromero commented on #41
This should be fixed now

[2018-05-13 00:09] #41 closed

[2018-05-13 06:44] vromero opened #44 "Use ENC when setting the password"

[2018-05-15 13:19] jelmew commented on #21
@daniyalj Could you clarify on what you did? We are trying to run this container in openshift now and we are also running into this error. It seems that a fix is possible, what is this fix?

[2018-05-15 16:06] vromero opened #46 "Default for `ARTEMIS_PERF_JOURNA`L should be `AUTO`"
The image internal default directory should already contain a `.perf-journal-completed` and the ARTEMIS_PERF_JOURNAL environment variable should be `AUTO` by default.

[2018-05-15 17:49] daniyalj commented on #21
@jelmew I added the ACTIVEMQ_ARTEMIS_VERSION as an environment variable in my deployment config.

Sorry I dont have access to a computer today otherwise I wouldve tested (it was a few weeks when I got this working)

If that doesnt work let me know here and I'll dig up the config.

[2018-05-16 03:12] #42 closed

[2018-05-16 03:13] vromero opened #47 "Use and document docker+java memory best practices"

[2018-05-16 03:14] vromero opened #48 "Remove gosu, leverage USER instead"

[2018-05-16 05:44] vromero opened #50 "Remove LGPL XSLT merge"
The merger for XML written in XSLT has a LGPL license. Its unclear to me if given the non-linkable nature of XSLT this is a problem, but just in case, remove for some other implementation.

[2018-05-16 06:00] jelmew commented on #21
@daniyalj

I did just so, but the sed error still happens. If you could find the working config, that would be much appreciated.

`apiVersion: v1
kind: ReplicationController
metadata:
  annotations:
    openshift.io/deployer-pod.completed-at: '2018-05-16 05:56:24 +0000 UTC'
    openshift.io/deployer-pod.created-at: '2018-05-16 05:55:14 +0000 UTC'
    openshift.io/deployer-pod.name: activemq-artemi

[2018-05-16 06:56] vromero commented on #21
@jelmew out of curiosity, are you getting the exact same error? the ../etc/logging.properties thing?

[2018-05-16 07:42] jelmew commented on #21
Hi @vromero. Yes, I'm getting the exact same error. Might be related due to the fact that the relative directory might not be accessible in the openshift scope, since openshift launches the container as a random user.

[2018-05-16 16:35] #47 closed

[2018-05-17 03:28] vromero commented on #21
I can reproduce. The `/var/lib/artemis/etc` directory is empty. It seems that empty volumes are auto-mounted [see deployment config in table 2](https://docs.openshift.com/enterprise/3.1/dev_guide/new_app.html).

You might want to provide a volume with your configuration or find a way to disable that ackward behaviour.

[2018-05-17 04:38] #50 closed

[2018-05-17 11:05] jelmew commented on #21
@vromero  If this behaviour is disabled, the container still fails with the error:

sed: can't create temp file '/var/lib/artemis/etc/logging.propertiesXXXXXX': Permission denied
--

This due to the fact that the container doesn't run as root. Any chance that I could make a pull request so that the sed parts don't require the root user anymore? I'd rather not run all containers as root, since this

[2018-05-18 05:07] #44 closed

[2018-05-18 06:06] jelmew commented on #21
Perhaps some clarification is in order. Openshift starts the container with a random user id. This is ok for almost all maps that have the correct permissions, see [`Support Arbitrary User IDs
`](https://docs.openshift.org/latest/creating_images/guidelines.html#openshift-specific-guidelines). However, the exposed volume are always specified with 700 permissions for that specific user (that is by d

[2018-05-18 06:40] jelmew commented on #21
I get your point here. From a theoretical point of view it is a deviation from the standard that docker adheres to (e.g that containers run with root).

Practically speaking (from our companies point of view), it would require us to fork an otherwise perfect open-source project. I'd rather not do that (obviously).

[2018-05-18 13:56] Asgoret commented on #21
@vromero Hi! I have same error like at the start of this issue in openshift.
[code]
I take you latest version of Artemis from docker hub yesterday.

What information you need to debug this?

[2018-05-22 08:21] Asgoret commented on #21
Ok, few days testing and summary.

Error seems somewhere in code of product or in rules for starting. Artemis try to start with root user first, but can`t do that because security rules deny that. Artemis can`t configure logging.properties and fail.
another version is that Artemis can`t get default version of logging.properties to modify it....and fail)

So, i have some questions. From where does

[2018-05-22 20:07] vromero commented on #21
There might be some confusion here. **The image does not run anymore as root**.
A simple command will could prove it:
[code]
`logging.properties` comes from a file in disk in folder `/var/lib/artemis/etc`, that as mentioned before, openshift replaces with an empty volume as it does in a ackward fashion for every declared volume:

[code]

[2018-05-23 06:56] Asgoret commented on #21
@vromero if it dosn`t need root or high privileges it`s great. I renew artemis version from docker hub, but how i need configure template or pod describe to start artemis?

[2018-05-23 09:53] jelmew opened #55 "Active mq artemis 1.5.5 does not properly merge xml"
And now for something completely different. For arrtemis 1.5.5 when giving an extra config block (broker-00.xml) with the following contents:

`<?xml version='1.0' encoding="UTF-8" standalone="no"?>
<configuration xmlns="urn:activemq"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="urn:activemq /schema/artemis-configuration.xsd">
    <jms xml

[2018-05-23 17:59] vromero commented on #21
You can't, you'd need to learn how to do a Dockerimage and fork this one.

[2018-05-23 23:15] shaenchen opened #56 "XML merges no longer working as they should"
When using latest tag the image fails to properly merge XML as it had on a previous working environment.

To replicate:
`docker pull vromero/activemq-artemis`

broker-00.xml:
[code]

`docker run -it --rm -v /home/artemis-override/:/var/lib/artemis/etc-override vromero/activemq-artemis:2.4.0 cat ../etc/broker.xml`

returns:
[code]

Change to known working image:
`docker pull vromero/activemq-artemi

[2018-05-23 23:39] vromero commented on #56
Thanks, I'll check it as soon as I can.

[2018-05-24 05:46] #56 closed

[2018-05-25 08:06] Asgoret commented on #21
@vromero how another docker image resolve this issue if i can't tell Artemis read his configuration files from another directory or set another working directory?

[2018-05-25 16:52] vromero commented on #21
Artemis reads its configuration from `/var/lib/artemis/etc`. That is where the configuration is. **However**, its also declared as a volume for users that need to completely replace the default configuration. The problem is that for some reason openshift auto-mounts empty directories whenever it see a volume and hence remove all configuration.

At the moment the solutions I'd suggest for your is o

[2018-05-27 05:29] vromero opened #58 "Jolokia should not allow only localhost"
Just like in other services this should be disabled, it doesn't make sense in a containerized world.

[2018-05-27 06:40] #58 closed

[2018-05-27 19:21] vromero opened #60 "Support for prometheus jmx exporter"

[2018-05-27 20:05] #60 closed

[2018-05-30 12:48] ebleeker opened #62 "the /etc/broker.xml is not merged with /etc-override/broker-00.xml"
Dear Developers,

I'm using vromero/activemq-artemis:2.3.0-alpine (and tested also vromero/activemq-artemis:2.6.0-alpine)
minikube version: v0.27.0 (and tested also 0.26.1 and 0.25.2)

A few weeks ago the minikube yaml works correctly and the artemis pod was created with the queues were deployed when starting up the pod.

If I  now log into the artemis-0 pod and navigate to /var/lib/artemis/etc-ov

[2018-05-30 18:22] vromero commented on #62
Umm, that is ackward. Can you reproduce just using docker?
Also could you `cat /var/lib/artemis/etc/broker.xml` and share here?

[2018-05-31 13:53] cliff-hayden opened #63 "Not possible to extend image due to COPY feeding into ENTRYPOINT."
I need to be able to do some pre-processing prior to starting Artemis -- specifically around obtaining and installing certificates specific to my environment, but, because the COPY feeds directly into the ENTRYPOINT clause, there is no way to insert new actions -- as overriding the ENTRYPOINT prevents the prior COPY from being invoked.

There are two options:

1. make the COPY statement stand alon

[2018-05-31 16:12] vromero commented on #63
I don't completely understand can you elaborate with an example? Why wouldn't an extended image with `custom-entrypoint.sh` and a cutom `ENTRYPOINT ["/custom-entrypoint.sh"]` that do its magic and then leverages the original `docker-entrypoint.sh` woudn't work?

[2018-05-31 18:55] ebleeker commented on #62
/var/lib/artemis/etc $ more broker.xml
<?xml version="1.0"?>

<configuration xmlns="urn:activemq" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:activemq /schema/artemis-configuration.xsd">
  <core xmlns="urn:activemq:core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:activemq:core ">
    <name>0.0.0.0</name>
    <persistence-enabled>

[2018-05-31 18:56] cliff-hayden commented on #63
**Dockerfile:**
FROM vromero/activemq-artemis:2.5.0
USER artemis
COPY entrypoint.sh ./entrypoint.sh
ENTRYPOINT ["./entrypoint.sh"]

**entrypoint.sh**
#!/bin/bash
ls -la
./docker-entrypoint.sh

**Output:**
total 20
drwxr-xr-x  2 artemis artemis 4096 May 31 18:50 .
drwxr-xr-x 16 artemis artemis 4096 May 31 18:50 ..
-rwxrwxr-x  1 artemis artemis 3594 May 31 13:21 artemis
-rwxrwxr-x  1 artemis artemis

[2018-05-31 19:01] ebleeker commented on #62
please click edit to view the correct cat the presentation is incorrect of the cat of the broker.xml

[2018-05-31 19:07] cliff-hayden commented on #63
Your Dockerfile ends with:
COPY assets/docker-entrypoint.sh /
ENTRYPOINT ["/docker-entrypoint.sh"]
CMD ["artemis-server"]

The COPY chains into the ENTRYPOINT, which means that overriding the ENTRYPOINT causes the copy to not happen, so I am not able to replace the ENTRYPOINT and chain into docker-entrypoint.sh from my script.

[2018-05-31 23:10] vromero commented on #63
Your entrypoint is wrong:

[code]

Change it from :
[code]

To

[code]
Also notice you can't chain stances like `COPY` and `ENTRYPOINT`, plus the last character is a `/` not a `\`.

However, I'll think about supporting some kind of `run-parts` or similar. I'm not particularly keen on it as off the top of my head sounds like something that should be done in a child image just like you are doing.

[2018-05-31 23:10] #63 closed

[2018-05-31 23:14] vromero commented on #62
This should work (there is even a test for it). Can I ask you one more thing:

please execute: `docker system prune --all -f` and then write here step by step how to reproduce with just docker.

[2018-06-01 08:52] Asgoret commented on #21
@vromero well....I rebuild docker image with `chmod 777....` on the `/var/lib/artemis`, but it isn`t good solution of the problem....

[2018-06-01 16:12] vromero commented on #21
Excuse me but I don't understand, what is not a not good solution of the problem? what are the results of your experiment?

[2018-06-04 01:32] #21 closed

[2018-06-04 02:35] vromero commented on #62
I tested this manually and seems to work, I'm closing this. Please reopen if you can reproduce as requested.

[2018-06-04 02:35] #62 closed

[2018-06-04 04:15] vromero opened #66 "<name> shoud be hostname"
In order to have a better experience in the console the <name> element in `broker.xml` should be the host name.

[2018-06-04 05:54] #66 closed

[2018-06-04 07:18] Asgoret commented on #21
@vromero it`s bad solution because `777` isn`t good for security.

[2018-06-04 07:54] ebleeker commented on #62
A collegae fixed it for me.
The problem was that kubernetes now uses symbolic links for config maps, he fixed it in the kubectl yaml by making volume mounts.

I'm not sure whether you understand this explanation but you are correct the problem was not in artemis code.

[2018-06-04 15:51] vromero commented on #62
I do, thanks, that is helpful.

[2018-06-05 15:59] heidricha opened #68 "mqtt broker doesn't process messages"
I started a container with all default values, can use the management interface, where I can also see the connected clients. I use mqtt...

vromero/activemq-artemis:latest-alpine   "/docker-entrypoint.…"   About an hour ago   Up About an hour         0.0.0.0:32809->1883/tcp, 0.0.0.0:32808->5445/tcp, 0.0.0.0:32807->5672/tcp, 0.0.0.0:32806->8161/tcp, 0.0.0.0:32805->61613/tcp, 0.0.0.0:32804->61616/tc

[2018-06-05 17:15] vromero commented on #68
Try mounting a volume for the data `/var/lib/artemis/data`.

[2018-06-07 05:17] vromero commented on #68
any luck?

[2018-06-08 13:18] heidricha commented on #68
unfortunately no. I have added a data volume, but still cannot use mqtt:
docker run -d -P -v artemis-data:/var/lib/artemis/data vromero/activemq-artemis

management webui works fine as earlier

[2018-06-08 15:05] vromero commented on #68
I see. Could you please attach docker logs result

[2018-06-08 15:23] heidricha commented on #68
Volume's journal buffer already fine tuned
     _        _               _
    / \  ____| |_  ___ __  __(_) _____
   / _ \|  _ \ __|/ _ \  \/  | |/  __/
  / ___ \ | \/ |_/  __/ |\/| | |\___ \
 /_/   \_\|   \__\____|_|  |_|_|/___ /
 Apache ActiveMQ Artemis 2.6.0

2018-06-08 13:21:34,560 INFO  [org.apache.activemq.artemis.integration.bootstrap] AMQ101000: Starting ActiveMQ Artemis Server
2018-06-08

[2018-06-11 14:16] idirouhab opened #69 "Use artemis without user and password"
So far I see that the user and password are needed to connect with ActiveMQ.

We have the ActiveMQ inside our VPC, subnet and security group basically to allow the application to connect with the queue without credentials.

Is there any way to bypass the authentication?

[2018-06-11 15:20] heidricha commented on #68
quite possibly the problem is that I don't use authentication. I'm on it, so going to close this issue.

in case it cannot be solved by authentication, I reopen it later.

Thanks for your attention!

[2018-06-11 15:20] #68 closed

[2018-06-11 15:26] vromero commented on #69
I wouldnt recommend it in production as per *the fallacies of the network*.

This said I have been planning to support it for a while for development and testing purposes. Lets keep this open until I get it done.

[2018-06-11 17:43] idirouhab commented on #69
thanks, @vromero I'll be following up

[2018-06-12 05:44] #69 closed

[2018-06-14 07:01] vromero opened #72 "Support for passing JAVA_OPTS"

[2018-06-20 12:35] salilchcl opened #74 "Sending message through console on a queue is giving error"
![untitled](https://user-images.githubusercontent.com/31266421/41659190-32217482-74b6-11e8-88ed-c1b86320eeaf.png)
I am running docker image with the following command -
 docker run -it --rm -p 8161:8161 -p 61616:61616  vromero/activemq-artemis.

Then if I go to artmeis console at 8161 port and try to send a message on a queue, it gives me below error message (as can be seen in the attached screens

[2018-06-24 19:19] vromero commented on #74
You have to pass credentials: `--user ${ARTEMIS_USER} --password ${ARTEMIS_PASSWORD} `

[2018-06-24 19:19] #74 closed

[2018-07-22 21:12] vromero opened #78 "Consider the status codes for PIPES in dockerfile"
The build is failing due to a new  hadolint validation error"

Set the SHELL option -o pipefail before RUN with a pipe in
https://github.com/hadolint/hadolint/wiki/DL4006

[2018-07-22 23:18] #78 closed

[2018-07-30 11:10] zhnu opened #80 "[BUG] artemis:latest is not debian based"
Hi your latest image from artemis seems to be running in alpine and not debian.

[2018-07-30 20:41] vromero commented on #80
umm, I'll review the build process, thanks.

[2018-07-31 01:16] nicodewet opened #81 "Container does not appear to terminate gracefully"
I'm using 2.6.2, the SIGTERM signal gets lost as far as I can see and when I issue docker stop I never see this is the logs:

To quick "fix" it I changed the Dockerfile, as follows (of course all the docker-entrypoint.sh goodness goes as a result):

The context is in clusters graceful shutdown is important for message redistribution.

My humble apologies if this is a PEBKAC issue.

[2018-07-31 01:42] vromero commented on #81
@djanavar would you like to take a look at this one?

[2018-07-31 04:09] nicodewet commented on #81
The following worked for me, I can create a pull request if the issue is verified / valid:

In the Dockerfile change the ENTRYPOINT and CMD become:

[code]

Then delete these lines from docker-entrypoint.sh:

[code]

[2018-07-31 05:14] vromero commented on #81
That would remove the ability to `docker run -it --rm vromero/activemq-artemis /bin/bash`, woudn't it?

[2018-07-31 22:04] nicodewet commented on #81
No you can still > docker run -it --rm vromero/activemq-artemis /bin/bash

[2018-08-06 09:29] vadimgr opened #82 "permissions problem with google persistent disk"
Hi ,
I have google persistent disk mounted to the artemis pod .
I tried to mount disk to /var/lib/artemis/data mount point  - mount succeed but artemis can't start because of permisisons  - ( mounted disk perm is root.root ) . I can't execute chown command to mounted directory - a got an permissions deny error .
We do not have any sudo installed so what can i do ?
Thanks in advance

[2018-08-07 12:59] somejavadev commented on #10
@vromero do you still have the helm chart for activemq? The link gives a 404 and I can't find one in the parent github repo?

[2018-08-07 16:32] vromero commented on #10
Yes, its here: https://github.com/vromero/activemq-artemis-helm
Keep in mind that it is a work in progress thow, basic master slave works but I'm still figuring out scaling and others.

[2018-08-14 19:49] abedwardsw opened #83 "configuration setting override"
Hi there, I have a question regarding the ability to set arbitrary values within the broker.xml

I would like to have the ability to set arbitrary values through environment variables, so for example, let's say I want to override the value of:
[code]
and change the value of "2" to something else.

I guess ideally it would be nice if you could do something like this:
[code]

What are your thoughts

[2018-08-16 12:08] vromero commented on #83
It is an interesting problem. I have suffered it myself and ended up doing xmlstarlet instead of xslt, see [here](https://github.com/vromero/activemq-artemis-helm/blob/master/activemq-artemis/templates/master-configmap.yaml). Of course XSLT does not have anything out of the box for environment variables. Some possible solitions come to my mind:
- Create an XML file with all the env properties, doe

[2018-08-20 18:02] abedwardsw opened #85 "support clustering"
Add the ability to configure a static cluster using environment variables.

From my testing I could not get udp multicasting working across docker nodes/clusters therefore only support for static clusters is being added at this time.

[2018-08-20 18:06] abedwardsw commented on #85
@vromero hopefully you can take in this request.  I'm still not familiar with your test system so hopefully you can give me some guidance.  I think this feature would be difficult to test, I could add just basics to ensure the configuration exists in broker.xml

[2018-08-30 15:38] abedwardsw opened #89 "support for old versions"
hi, could we consider removing the rebuilding of all the old versions from the build.   In my opinion it creates too much work trying to rebuild every single version let alone the time required to run all the integration tests.

My recommendation would be that you create a 1.0.x branch for the older 1.0.x stuff, then the master branch can remove any references to hacks that are in place just to su

[2018-09-03 22:01] vromero commented on #89
I already marked many as deprecated and maintained as best effort as per strikethrough in version list and excerpt:

However, my plan was to maintain support as long as ActiveMQ Artemis maintain support.

[2018-09-03 22:01] #89 closed

[2018-09-03 22:02] vromero commented on #85
Same comment as in #90

This looks pretty interesting however I have concerns regarding including it in this particular image (and BTW there seems to be some content from the previous PRs centos in this one).

I have had the same problem you are probably having but instead of docker-compose, with kubernetes. I've been keeping a balance between what goes into the image and what goes into the (Helm

[2018-09-03 22:02] #85 closed

[2018-09-06 18:08] abedwardsw commented on #83
feature was merged

[2018-09-06 18:08] #83 closed

[2018-09-15 22:41] vromero opened #94 "The README is too big for dockerhub"
Figure out a solution

[2018-09-15 22:42] #72 closed

[2018-10-19 05:50] #80 closed

[2018-10-23 19:48] bahrigencsoy opened #100 "Missing JMX options to connect to the instance"
I know JMX is discouraged, Jolokia is available, but this image is very handy to simulate a standalone installation.

However there is a missing part in the documentation about being able to connect to the Artemis via JMX. I am not sure if this should be a part of the image/runtime config:

[code]

The hostname is resolved to the wireless adapter IP address via the `ipconfig` command on my Mac. No

[2018-10-24 10:15] bahrigencsoy commented on #100
I confirm the configuration above also works for me.

I am not knowledgeable enough about automatically adding the `JAVA_OPTS`. The current documentation mentions Kubernetes, and I cannot figure out how would Kubernetes access the container's JMX w/o the aforementioned options, maybe it can, but again, don't know much about Kubernetes either.

One thing I am almost sure is to include the `BROKER_C

[2018-10-24 10:20] bahrigencsoy commented on #100
On second thought, maybe leaving the `hostname=0.0.0.0` in the documentation makes more sense: The user might install the docker on another machine (not the same host), and try to access externally. I am not sure localhost -> remote_docker_host -> artemis_container scenario would still work with `0.0.0.0`.

[2018-10-24 17:50] vromero commented on #100
`0.0.0.0` should work, it means all addresses in all network interfaces, which works great for docker to avoid the need of predicting the ip address provided to the container.

I'm thinking on perhaps adding an `-e JMX_ALLOW_REMOTE=true' that would add those two parameters. Will think a bit more about it and then in a few days implement.

[2018-10-29 17:38] abedwardsw commented on #100
i happened to be looking at jmx today as well, just a couple other notes.
1. it probably also makes sense to expose 1099 & 1098 inside the dockerfile as well
2. 0.0.0.0 doesn't work for me if I want to connect via jmx using the dns entry of the external vip.  so in my case to get it to work i have to put the java.rmi.server.hostname=vip_dns_name.   With this in mind, it might make more sense to ha

[2018-10-29 18:30] vromero commented on #100
Yeah so in my experience (and I might be wrong) 0.0.0.0 only works for localhost connections, I'm surprised it even works in docker but it does. The reason why it acts wacky is that there are two connections, the first one for jmx and then it reconnects using RMI to whichever is the ipaddress configured there, and 0.0.0.0 randomly (or at least non-deterministically) picks one. I have no solution f

[2018-10-29 19:32] abedwardsw commented on #100
jmx is still useful if you want to use jconsole/visualvm, passing the external dns name to java.rmi.server.hostname works fine in this case.

[2018-10-29 21:53] vromero commented on #100
yes, hence my doubt. I guess I could add a JMX_HOSTNAME env defaulted to 0.0.0.0 and document very clearly the use case.

It is also arguably also that tanuki and the hawtio console are more than enough.

[2018-11-08 21:03] srinubalsu opened #103 "Does not support REST Proxy"
As the ActiveMQ says that it has REST Proxy available for sending/reading data from the topics/queues, this docker container does not support it.

[2018-11-10 01:09] vromero commented on #103
I left it out intentionally back when I considered it. I don't personally see it embedded in this image, but perhaps as a separate one. Especially when considering it's a war.
How would you do it?

[2018-11-12 17:16] srinubalsu commented on #103
I also agree with you on having a separate image. But I felt that it would be good and great if we have the REST Proxy as a part of the image instead of maintaining many containers.

[2018-11-27 18:24] faevourite opened #104 "Can't restart container when DISABLE_SECURITY=true"
It appears that the `<security-enabled>false</security-enabled>` element is being added to `broker.xml` on every run inside `docker-entrypoint.sh`. If a container is started, shut down, and restarted, logs contain this error:

[code]

To reproduce:
- `docker run --name artemis-disable-sec-restart-test -it -e DISABLE_SECURITY=true vromero/activemq-artemis:2.6.3-alpine`
- ctrl+c to stop
- `docker st

[2018-12-06 19:34] xenoterracide opened #106 "minor version tags"
e.g. can you make a 2.6, and 2.6-alpine that will update as bugfix releases hit for that version

[2018-12-07 00:06] vromero commented on #106
It's perfectly doable, I'll keep it open until I find time to work on it.
In the meantime (it's not the same but...) you can use latest-alpine.

[2018-12-10 21:55] climberjase commented on #103
We have two teams that would both like to use the REST proxy for (a) QA testing and (b) building UI's on top of Artemis topics from React for a management console. While we'd be interested in this feature, we'll see if we can work around it using the AMQP clients.

[2018-12-10 22:01] vromero commented on #103
I see, thanks for letting us know @climberjase,

Just in case you haven't noticed there is an UI already present based in hawtio in the current image:

![image](https://user-images.githubusercontent.com/1119553/49764337-fec46800-fc83-11e8-91ad-5a9632450e46.png)

[2018-12-10 23:10] srinubalsu commented on #103
Thanks for response.

Yes, I am aware of that. I have some limitations to use that as I am
sending binary formatted data to an address which is not possible with this
hawtio.

BTW, I stopped going though this RestProxy approach. Started coding in go
my own client.

Regards,
Srinu

On Mon, Dec 10, 2018 at 3:01 PM Victor Romero <notifications@github.com>
wrote:

[2018-12-10 23:55] climberjase commented on #103
Thanks @vromero - we use that UI all the time and it's very helpful. We are building our own UI that combines message details with other data from other systems for our customer, and so we were hoping to subscribe to Artemis messages directly from React to combine with our other data from our MongoDB database. We're just going to write our own microservice on the side, as we would like to use your

[2018-12-11 08:46] #104 closed

[2018-12-11 21:46] vromero commented on #103
I can't find a satisfactory method to have the rest interface and Artemis in the same image (run a container instead of the default artemis distro is a no-no for me).

If this was a separated image, that you need to run parallelly, would you still find it useful?

[2018-12-11 21:47] #106 closed

[2018-12-12 08:19] climberjase commented on #103
Potentially yes. For the time-being however, we're just writing a micro-service that will provide a  socket streaming service to send JSON messages to React clients in a browser - that's easy since we're using the Python Proton library from QPID for it's excellent AMQP 1.0 support.  Our client's testing team wanted to use the REST interface for unit and integration testing purposes from their scri

[2018-12-20 07:04] kesavkolla opened #109 "Enabling jmx causing artemis command not to run"
I've created container with ENABLE_JMX_EXPORTER=true option.  Everything is running fine but when connect to container and execute artemis command it throws error.

[code]

Any idea on how to fix this error?
I was expecting to see the command line help when I run the `artemis` command.  If I don't set the ENABLE_JMX_EXPORTER to true then the command works just fine.

[2019-01-18 08:58] dementiacs opened #110 "standard_init_linux.go:190: exec user process caused "exec format error""
Attempting to run the latest (and latest-alpine) image on a JetsonTX2 (ARM8) and getting the above error.

[2019-01-18 09:04] dementiacs commented on #110
I can, however, report that it appears to start up under an X64 architecture.

ActveMQ Artemis itself (outside of Docker) works fine on an ARM8 so something isn't quite right with the Docker image.

[2019-01-21 12:59] PawelJ-PL opened #111 "etc-override volume permissions"
Hi,

I need to generate some etc-override configs dynamically when container is starting (based on environment variables).
I've created new Dockerfile with `FROM vromero/activemq-artemis` directive
Unfortunately, I'm unable to create new etc-override files, because /var/lib/artemis/etc-override directory is owned by root. I'm also unable to change directory ownership in my docker file, because thi

[2019-01-22 10:11] PawelJ-PL commented on #111
The workaround is to add subdirectory in etc-override directory with proper user `COPY --chown=1000 dynamic_override /var/lib/artemis/etc-override/dynamic/`

[2019-01-28 10:19] PawelJ-PL opened #113 "Release 2.6.4"
Recently new version (2.6.4) has been released. I've prepared suitable pull request: https://github.com/vromero/activemq-artemis-docker/pull/112

[2019-01-29 19:34] vromero commented on #113
Thanks @PawelJ-PL , will take a look tonite.

[2019-01-30 18:16] vromero commented on #110
I'm afraid there is more to the docker image than artemis itself. There is a linux kernel, gnu tools, etc. Hence, there is a target architecture.
At the moment, although it would be very easy to support, I don't support ARM because it would make the build much slower than it already is.

[2019-01-30 18:16] #110 closed

[2019-02-01 20:06] vromero commented on #113
Merged

[2019-02-01 20:06] #113 closed

[2019-02-08 18:46] hatharom opened #114 "Can't use env var when broker.xml is added as volume."
**Problem**
Cant use environment variabler for JMX exporter and broker.xml as attached volume at the same time.

**Description**
simple compose file:
[code]

**Expected behaviour:**
-attached broker.xml will be the active configuration and ENABLE_JMX_EXPORTER will be true

**Current Behavior:**
for docker-compose up I got this:
[code]

Something could be wrong with the 'mergeXmlFiles' method insid

[2019-02-10 00:29] vromero commented on #114
Environment variables, generally speaking won't work with custom broker.xml files. It's just impossible to predict what users will do and at the moment I'm not keen to write a CLI tool to support all possibilities like includes, etc.

However in your case, it seems that it is a permissions problem by the look of it. Perhaps double check the file is mounted in rw and with enough permissions, i.e: t

[2019-02-10 00:29] #114 closed

[2019-02-10 00:32] vromero commented on #111
Yeah there is little I can do about how docker works. The image has, however, a mechanism to do exactly what you need, take a look to the entrypoint-overrides section in the [docs](https://github.com/vromero/activemq-artemis-docker#59-overriding-parts-of-the-configuration).

[2019-02-10 00:32] #111 closed

[2019-02-10 00:34] vromero commented on #109
Hi @kesavkolla,
I'm afraid I don't fully understand your process or why you manually try to start an already started artemis. Could you please share exact reproduction steps?

Also try to run like this `docker run -it --rm -e ENABLE_JMX_EXPORTER=true vromero/activemq-artemis:2.6.4`

[2019-02-10 00:34] #109 closed

[2019-02-10 00:37] vromero commented on #103
FWIW I already started working on it : https://github.com/vromero/activemq-artemis-rest-docker

[2019-02-27 09:09] DreamInSun opened #116 "MQTT protocol CORE not found in map"
When I Start Artemis like this:

`xmrl-mid-AmqServer:
  image: vromero/activemq-artemis:2.6.4
  privileged: false
  restart: always
  ports:
  - '9404'
  - '5445'
  - 61613:61613
  - 1883:1883
  - 8161:8161
  - '5672'
  - 61616:61616`

it comes an Error:
`
2019-02-27 09:03:13,892 ERROR [org.apache.activemq.artemis.core.server] AMQ224096: Error setting up connection from /192.168.198.60:62705 to /1

[2019-03-15 10:23] vliubko commented on #34
Same issue.
Mounting volume to /var/lib/artemis/data does not restore old messages after restarting the container.

[2019-03-18 12:00] SMadani opened #117 "Use latest LTS Java"
Is there a reason for depending on a 5-year-old version of Java instead of the long-term support one (Java 11)? I have used ActiveMQ / Artemis with Java 11 and found no issues, so I suggest moving to 11.

[2019-04-12 20:23] vromero commented on #117
Which is the older version of Artemis that you have used with J11?

Would you be interested in creating a PR with support for different artemis versions with different JDKs?

[2019-05-09 12:34] kintetsu opened #119 "User permission problem with mounted volume"
We try to mount /var/lib/artemis/data to a directory on the host but we have a permission conflict. The user artemis created in the container has the id 1000 and the user we created on the host has the id 1003. So they don't match.
We tried to run the container with --user 1003:1003 but then we get a permission conflict in the container itself because in the dockerfile
`RUN chown -R artemis.artemi

[2019-05-09 23:14] vromero commented on #119
To the best of my knowledge there is not other solution generally speaking. If the other things you need to do are done with containers you can always try [data containers](https://boxboat.com/2016/06/18/docker-data-containers-and-named-volumes/) or the other tricks with volumes created later.

[2019-05-09 23:14] #119 closed

[2019-05-25 15:08] edernucci commented on #82
@vadimgr

This is a common mistake in all cloudproviders. In fact, it is not a mistake, but a common behavior.

Every disk is attached with uid 0 (root) as its owner.

To resolve this (among other ways), connect this disk to another container as root and run the following command:

`chown -R 1000:1000 /path/to/disk`

This will change the owner of the disk to uid 1000, which is the user that the ac

[2019-05-25 19:19] #82 closed

[2019-06-20 21:39] amagnus opened #121 "Unable to override part of the configuration"
Using version 2.6.3-alpine on kubernetes 1.11, I'm not able to override with this snippet:

[code]

I tracked it down to a bug in the entrypoint.

Output of `find /var/lib/artemis/etc-override -name "broker*" -type f` before `cut`:

[code]

And after the `cut`:

[code]

Instead the script is expecting:
[code]

[2019-06-21 11:00] vromero commented on #121
This is confirmed, the usage of `cut` is very weak here. I recall I used it for compatibility alpine/debian but seems that it didn't work as expected.

[2019-07-19 01:14] boyang121 opened #123 "Issues configuring cluster in Kubernetes with HA with JGroups"
Hi, I cannot seem to get a cluster created in Kubernetes using JGroups, Kube_Ping with HA configured. I have a master and a slave up and running with <TRACE> enabled with JGroups. I can specifically see slave and master in the KUBE_PING, but for some reason they are not connecting to each other.
I did the exact same configurations locally except instead of using Kube_Ping, I used File_PING, and th

[2019-07-26 09:15] vromero commented on #123
I gave up with the Jgroups approach and started to use auto-generated configs (see https://github.com/vromero/activemq-artemis-helm ), I still have a branch there with the jgroups approach but it was somewhat unreliable.

[2019-07-26 09:15] #123 closed

[2019-11-03 00:14] martijnhiemstra opened #128 "Cannot login. Credentials are incorrect."
I am running Artemis (vromero/activemq-artemis) in a docker container and none of my microservice can login to Artemis. I am using the default settings so artemis / simetraehcapa. I tried the console url and I get an error 'Failed to login, forbidden'. I tried setting the username and password using the docker environment values ARTEMIS_USERNAME and ARTEMIS_PASSWORD. This doesnt work either. What

[2019-11-04 14:27] vromero commented on #128
Regrettably, I'm closing this issue as the aforementioned comment can be considered an unsolicited opinion. Feel free to re-create the issue without it, fork the project or simply use a different docker image.

[2019-11-04 14:27] #128 closed

[2019-11-23 12:11] vromero commented on #103
After some attempts at the artemis rest docker I have to say I don't quite like it. A WAR file container is tricky to host in an Docker idiomatic way and I can't say I'll have the energy to do it in the short term.

[2019-11-23 12:11] #103 closed

[2019-11-23 12:12] vromero commented on #116
After some attempts I have to say I haven't been able to reproduce.

Please provide specific instructions in order to be able to reproduce.

[2019-11-23 12:12] #116 closed

[2019-11-24 07:59] climberjase opened #131 "Running 2-node clusters in ECS EC2 or Fargate"
Hi - are there any recommendations you can add for running a 2-node or 3-node Artemis cluster using AWS ECS (either EC2 or Fargate launch types)? For my current project we can't afford the overhead of Kubernetes, and I'd like to use Artemis instaed of Kafka or Rabbit.  Previously we ran Artemis using a 3 x EC2 instances, but we did all our development using your docker image (the vromero/artemis o

[2019-11-24 19:20] vromero commented on #131
Hi @climberjase,

I can see how this is valuable and I wish could help, but I haven't found the professional need of using Fargate yet and I'm not keen on investing my own money in learning it just to support Amazon's business.

If you go ahead with it I'll be more than happy to help to the extent that I can without running fargate and perhaps if you are happy to, you could contribute some documen

[2019-11-24 19:20] #131 closed

[2019-11-24 19:54] vromero commented on #100
I have decided to ignore this for the time being, I don't want to support randomized ports within Docker at the moment. Might revisit later but not for now.

[2019-11-24 19:54] #100 closed

[2019-11-24 21:17] #121 closed

[2019-12-04 12:28] vromero commented on #117
The documentation does not suggest a java version. My question in the mailing list around which is the right one for each version has no answer and Artemis seems to still be compiled and tested against Java 8 https://github.com/apache/activemq-artemis/blob/master/pom.xml#L982

It is therefore that even having completed all necessary changes to support multiple java versions I'm sticking with Java

[2019-12-04 12:28] #117 closed

[2020-01-16 09:04] Necriis opened #136 "Remove VOLUME and EXPOSE from Dockerfile"
First of all, I want to make it clear that this is not a bug, nor a request. It is simply an open discussion on a problem I had to face.

When I wanted to clean up my Artemis conf, I wanted to remove the acceptors of protocols that I don't use in broker.xml (I only use AMQP).
Then I noticed that I had a series of ports that remained exposed, and that bothered me because it was deceptive, given tha

[2020-01-17 15:39] devamondos opened #137 "Is there anyway to override the bootstrap.xml?"
First off I will explain what I'm trying to achieve since I'm probably approaching this completely wrong. I am essentially trying to configure SSL for the console so it runs HTTPS and not HTTP but it's not working. I also want to secure the transports themselves but I'll get onto that once this is done.

I'm deploying with Kubernetes and have managed to override the broker.xml but am unable to do

[2020-01-17 16:17] vromero commented on #137
In the meantime I read this properly, just FYI in case you know already, I have another project with a [helm chart](https://github.com/vromero/activemq-artemis-helm/) that solves some stuff (but not exactly what you ask for). Perhaps it might help.

[2020-01-17 19:02] vromero commented on #136
Hi @Necriis,

I see where you are coming from and definitely relate to the frustations containers bring sometimes (or even worse, orchestrators like what you mention with #21 ). However I won't act on this. I'm enumerating the resons in no special order below:

- **Its all about point of view.** Your use-case might not benefit from them, but they represent defaults and metadata that can help users

[2020-01-17 19:02] #136 closed

[2020-01-18 14:25] RaymondMouthaan opened #139 "Artemis Cluster example - Docker Swarm"
Hello @vromero,

Great work for having Artemis available in Docker images 👍 .

Does your images support Artemis clustering? If so, would you have an example compose or stack file available?

Thanks in advance.
Ray

[2020-01-19 00:26] vromero commented on #139
I have it for kubernetes, haven't completed it to a point I'm satisfied with but it does work: https://github.com/vromero/activemq-artemis-helm

For Docker Swarm I'm afraid I don't have it.

[2020-01-19 00:26] #139 closed

[2020-01-31 10:32] sykobee opened #140 "Support master and slave configurations for Clustered Artemis"
One of Artemis' features is HA with various master/slave configurations being supported.

It would be good to support HA via running two instances of this image, e.g., one as a master, and one as a slave (or multiple slaves, or multi-master, there are difference cluster configurations supported). I presume because of docker that a replication mechanism is best, rather than shared filesystem. Enabl

[2020-01-31 20:41] climberjase commented on #140
I too am very interested in this.

We got Artemis working in HA mode in a 4 node cluster but had to use the native code on a plain instance rather than the Docker images as we couldn’t get JGroups to work in any orchestrators.

We got this docker image working with a shared file system for warm backup of the compute node only. We were unable to get replicated multi node working with this image.

I

[2020-02-01 21:21] vromero commented on #140
I don't see this happening with docker alone. It wouldn't make much sense, it would need an orchestrator.

As per orchestrator, I wish I could support all of them, but with limited time, I can only _kinda_ support k8s helm: https://github.com/vromero/activemq-artemis-helm/

After years of going back and forth around what should I try to accomplish, as there are some colliding and or orthogonal fea

[2020-02-01 21:21] #140 closed

[2020-02-19 18:41] AlexanderUkhta opened #141 "Running container overrides several artemis/etc/ configurations."
Hi, I've got a running 2.10.1 container, which is started under docker-compose.yml.
My artemis config looks just as simple as that:
[code]

Well, right now there is a problem with `logging.properties`. By default, your image does not not use any file log-handler, and file handler is what I need so much.
I'm trying to pass my own `logging.properties` via  `/opt/docker/artemis/etc:/var/lib/artemis/e

[2020-02-20 06:34] climberjase commented on #141
It's probably not super helpful for you, as it seems like you want to use a file based log mechanism, but we setup FluentD to redirect all our Artemis docker console logs to ElasticSearch and it worked really well for us. We also used AWS CloudWatch which worked really well for us too.

For all our Docker containers we use stdout now, which works well with K8S, ECS, docker compose etc so long as y

[2020-02-21 10:13] vromero commented on #141
This is most definitely because of this:
https://github.com/vromero/activemq-artemis-docker/blob/master/src/assets/docker-entrypoint.sh#L29

I never considered that someone might want to change it to anything different than STDOUT as that is the _docker way,_ but also I see no reason to prevent you from doing so. I'll move this to the Dockerfile over the weekend hopefully (of feel free to PR yours

[2020-02-22 18:06] vromero commented on #137
I'm afraid I cannot reproduce. I'm able to override `bootstrap.xml` with no issues*

[code]

[2020-02-22 18:06] #137 closed

[2020-02-22 19:22] #141 closed

[2020-03-21 22:29] fstorz opened #143 "Latest tags are 15 months old"
**Description**
The images on Docker Hub with the tag _latest-alpine_ is outdated (build 15 months ago)

**Current Behavior**
[code]

**Expected Behavior**
Latest tags and the most current version use the same Docker image

[2020-03-22 11:54] vromero commented on #143
Thanks @fstorz, will take a look.

[2020-03-23 11:33] vromero commented on #143
Seems like the effect on my clumsiness while writting `tags.csv`. This shoudn't take long to fix.

[2020-03-26 13:53] #143 closed

[2020-04-09 18:57] MitchellJThomas opened #146 "Alpine artemis-service start fails with error"
Running `artemis-service`  fails with the following error

Starting the container using `docker run -ti --rm vromero/activemq-artemis:2.11.0-alpine sh` image id `fcc308dbe47b`
[code]
The fix is to add the procps package to the Dockerfile-alpine.

[2020-04-13 09:49] vromero commented on #146
Closing see discussion in #147

[2020-04-13 09:49] #146 closed

[2020-04-20 13:29] atzoum opened #148 "Feature: Out-of-the-box support for org.jboss.logmanager.formatters.JsonFormatter"
Right now, in order to enable json log formatter, the following changes need to be applied on the image:

1. Add `javax.json-1.1.4.jar`in the container and include it in the `bootclasspath`
2. Change logging.properties to use the `org.jboss.logmanager.formatters.JsonFormatter` in the `CONSOLE` handler

example Dockerfile:

[code]

logging.properties snippet
[code]

It would be great if step 1 was

[2020-04-24 15:57] vromero commented on #148
@atzoum do you happen to have some example output? I suspect this would log just the text output in a json field which I'd say is not super valuable wouldn't it?

[2020-04-24 16:54] atzoum commented on #148
message is on its own field, as well as log level, thread, logger name, mdc properties etc.

This is useful when you are using a log aggregation platform, such as ELK, since you don't need to "grok" the pattern formatted message.

[2020-04-24 17:27] vromero commented on #148
Oh! There are mdc properties in Artemis, I didn't know. I'll check if there are valuable mdc  properties I'd say that's justification enough. Just to save time, could you please paste a log output example in the meantime?

I understand the "grok" part yet I'd say if there is some grok to be done to adapt a non eritched text logline into a json envelope then it would be better suited for the job a

[2020-04-25 09:46] atzoum commented on #148
Here is the containers console output after switching to the JsonFormatter
[code]

[2020-04-25 15:38] vromero commented on #148
I see, you make a great point with the multiline stacktrace.
I'll do this sometime soon.

[2020-05-11 21:42] alexaabrd opened #150 "file paths in JAVA_OPTS cause sed error"
After images were pushed to support 2.12.0, forward slashes in JAVA_OPTS cause docker-entrypoint.sh to exit with sed errors.

commands to reproduce:
**alpine:**

gives error: `sed: -e expression #1, char 61: unknown command: '-'`

**debian:**

gives error: `sed: -e expression #1, char 105: expected newer version of sed`

[2020-05-11 23:43] pelletier2017 commented on #150
I feel like its a bad idea to update docker image tags that aren't marked as "latest".

[2020-05-13 15:01] jwarchol opened #151 "Class load error on latest (2.12)"
After pulling latest today, I was seeing this error when running this image:

`Error: Could not find or load main class org.apache.activemq.artemis.boot.Artemis`

I then switched to vromero/activemq-artemis:2.11-latest and was able to run. Oddly when I went back to the :latest it also now worked. My environment set ARTEMIS_USERNAME and ARTEMIS_PASSWORD, a data volume and an etc-override, with some

[2020-05-13 15:14] jwarchol commented on #151
If I `docker-compose down` (retaining the persisted data volume) and then `docker-compose up -d` it seems to come back to working. I've been able to also get the class error on the 2.11 image. So the issue seems to be more of getting that error when switching versions without a `down`, just with a `docker-compose pull` and `docker-compose up -d` leading to the recreation of the service. Hoping som

[2020-05-13 17:54] vromero commented on #151
I'll leave this open for a while in case someone has suffered the same issue

[2020-05-14 13:14] gustavolessa23 opened #152 "Can't connect to Artemis when on AWS or VirtualBox."
Hi,
First of all, thank you for this docker image!
I am having trouble connecting to the image when deployed to AWS (on a reachable EC2 instance) or even using VirtualBox (both using Ubuntu Server 18.04).

However, when running on my local machine with the exact same steps, it is perfectly reachable.

After reading the Readme, I tried to adding `-e DISABLE_SECURITY=true`, even though it was said t

[2020-05-15 14:01] vromero commented on #152
You are very welcome, thanks for trying the image out.
Do you have any specific error? logs? etc?
Are to which port/protocol are you trying to connect?

[2020-05-15 14:03] vromero commented on #150
@alexaabrd, this might be a regression. Apologies  I'll take a look over the weekend.

[2020-05-15 14:07] vromero commented on #150
@pelletier2017 you are spot on, but if you check the _infamous_ docker issue https://github.com/docker/distribution/issues/1201 you'll see that I cannot classify-upstream downstream versions.

My solution to the problem is to mention in the README.md, right at the beginning:

This said, I do my best effort for a reproducible build, no version of anything at all is fetched from a non versioned arti

[2020-05-16 09:30] gustavolessa23 commented on #152
Hi,
No, I don't have any logs unfortunately.
My EC2 instance started working out of nowhere.
After I checked the security groups and NACL, I could see it was reachable. I could ping it, I could access an Apache server provided by it, but I couldn't connect to ActiveMQ's console, for example.

So, I still don't know a solution.
I tried all steps in both VM and AWS and I couldn't reproduce the fix.

[2020-05-17 22:29] vromero commented on #152
Hi @gustavolessa23,

If there was something off the top of my head I could do to help I would, but with this information there's a million possible reasons. Therefore I have to refer to documentation, [section 6](https://github.com/vromero/activemq-artemis-docker#6-running-in-orchestrators):

Good luck with the issue.

[2020-05-17 22:29] #152 closed

[2020-05-17 22:42] vromero commented on #150
Coudn't fix it this weekend, problem seems to be here:

https://github.com/vromero/activemq-artemis-docker/blob/master/src/assets/docker-entrypoint.sh#L13

Slashes are interfering with sed's. I assume using another character like `#` or `~` would fix it but haven't tried yet.

[2020-05-19 14:01] FOTempel commented on #150
This spilled over to the 2.11.0 image too. For $reasons I needed to renew the image and after pulling a new image I had this exact same issue. The working 2.11.0 image was (at the time of writing) 7 weeks old and the new 2.11.0 image is only 10 days old. Luckily I still had a working broker with the old image I could use to docker save and docker load an image from, but this has cost me a lot of t

[2020-05-20 11:10] #150 closed

[2020-05-20 11:21] vromero commented on #150
Hi @FOTempel, I'm sorry you suffered a regression while using the image in a way that is not how it's prescribed in the documentation. My first suggestion would to use it just as it is documented. If you plan to use it differently, please fork and/or create your own, as the license I've put doesn't preclude you at all on doing so.

If for any reason these two options don't work for you I'd remind

[2020-05-20 20:37] mickvikt opened #154 "Getting CORS Error: "Origin null is not allowed to call this agent" with Dockerfile ver. 2.12.0 on Windows"
**Steps to reproduce:**

1. Run docker container with command:
docker run -it --name activemq-artemis -e ARTEMIS_USERNAME=admin -e ARTEMIS_PASSWORD=admin -p 61616:61616 -p 8161:8161 vromero/activemq-artemis:2.12.0
2. Execute curl command:
curl -u admin:admin http://localhost:8161/console/jolokia
3. Error is received:
{"error_type":"java.lang.Exception","error":"java.lang.Exception : Origin null is

[2020-05-21 11:42] vromero commented on #154
Hi @mickvikt, this is an interesting one.

I'll try to take a look to replicate in Linux as I don't typically use docker on windows.

[2020-05-21 11:50] mickvikt commented on #154
Hello Victor,
I think this error could actually be related not to the Docker version per
se, but to some changes in the Dockerfile configuration, to a different
hawt.io version, or a different version of Artemis itself.

Have a nice day,
Viktoras

On Thu, May 21, 2020 at 2:42 PM Victor Romero <notifications@github.com>
wrote:

[2020-05-24 11:05] vromero commented on #154
Hi @mickvikt
I've been able to reproduce both with docker and with vanilla artemis in Linux. This seems to suggest that the problem is upstream, therefor I've created an Artemis issue and I'm closing this one.

https://issues.apache.org/jira/browse/ARTEMIS-2779

[2020-05-24 11:05] #154 closed

[2020-05-24 11:11] mickvikt commented on #154
Hi, Victor,
Thank you.

On Sun, May 24, 2020, 14:06 Victor Romero <notifications@github.com> wrote:

[2020-06-10 01:29] jerhat opened #157 "Debian image build failure with latest hadolint (v1.18.0)"
[code]

No such issue for Alpine image.

[2020-06-15 10:15] vromero commented on #157
Fixed, extra white space was driving hadolint nuts

[2020-06-15 10:15] #157 closed

[2020-06-17 08:59] stephan2012 opened #159 "Unable to load protocol dns.DNS_PING"
The latest Docker image (`vromero/activemq-artemis:2.13.0`) does not find the `DNS_PING` plugin:

[code]

Configuration in `jgroups.xml`:

[code]

The lib seem to be present:

[code]

Did something went wrong during container image build?

[2020-06-17 09:04] stephan2012 opened #160 "KUBE_PING and DNS_PING not available in Alpine image"
Just noticed that the `KUBE_PING` and `DNS_PING` plugins are not available in the Alpine based image (`vromero/activemq-artemis:2.13.0-alpine`):

[code]

In the Debian based image, the plugins are available:

[code]

Since I found no hint in the `README` file I am wondering if this is intentional. In case it is, please add a note. Otherwise something went wrong…

[2020-06-17 11:19] vromero commented on #160
Its a bug, definitely not intentional.

[2020-06-26 21:12] #160 closed

[2020-06-26 21:13] vromero commented on #159
Fixed along side #160

[2020-06-26 21:13] #159 closed

[2020-07-12 12:03] stephen00001 opened #162 "Issues getting a basic cluster to work"
Hi,
Thanks for the great image.

I'm trying to implement a very basic 2 node cluster for development purposes. Plan is to use kubernetes at a later stage.
I've tried both UDP and jgroups clustering using the artemis examples with little success. See attached files.
I get the "Bridge...  is unable to connect to destination"

Error
[code]
I've tried docker-compose and also launching both nodes separ

[2020-07-13 06:23] pmig commented on #162
Hi @stephen00001

I'd rather open a stackoverflow question for this kind of Question.

But in short:

1.) Mount a shared jgroups file into both containers
2.) configure atemis to discover nodes via the a jgroups file

Follow this example for configuration: https://github.com/apache/activemq-artemis/tree/master/examples/features/clustered/clustered-jgroups/src/main/resources/activemq

[2020-07-13 10:08] stephen00001 commented on #162
Thanks @pmig.
I've tried this and although no errors on startup messages do not load balance.
Consumer on node2 and producer on node1. Producer sends 100 messages. Using <message-load-balancing>STRICT</message-load-balancing> you would expect a 50/50 split. However, in all cases node1 gets 100 messages.
Do you have this actually working?

[2020-07-14 10:56] vromero commented on #162
Hey @stephen00001,

Sounds like the kind of problem you can bring at to activemq-artemis-users or stackoverflow. As per the README I'm closing this given that orchestrators are not directly supported (nor Artemis itself, just the docker image).

[2020-07-14 10:56] #162 closed

[2020-07-14 12:35] stephen00001 commented on #162
Thanks. I just really want to know if it was possible with this image. Assuming it is....

[2020-07-14 13:40] vromero commented on #162
Yes, there is nothing inherently wrong with what you are trying.

This said I don't plan to have orchestrators out of the support picture forever, but some limitations of artemis plus lack of time prevent it for the time being, see https://github.com/vromero/activemq-artemis-helm/ for some incomplete inspiration around k8s.

[2020-07-31 09:14] jianyinshim opened #164 "journal file is becoming huge"
the *.amq is not decreasing

[2020-07-31 15:19] vromero commented on #164
Hi @jianyinshim not sure how is this relevant to the docker image.

[2020-07-31 15:19] #164 closed

[2020-08-01 13:39] repplix opened #165 "Class Load error in docker image"
Hi,

when starting your latest docker image from docker hub (vromero/activemq-artemis:latest), I get following error message:

[code]

I switched to the apline version of current docker image and anything worked fine again.

Best regards
  Michael

[2020-08-14 11:06] mstroeve commented on #151
We are having the same issue:
`Error: Could not find or load main class org.apache.activemq.artemis.boot.Artemis`

This happens sometimes when executing:
docker-compose stop
docker-compose pull -q
docker-compose up --force-recreate -d

This results in the error above. It seems like some sort of timing issue?

[2020-08-25 07:27] derari commented on #151
The file `/var/lib/artemis/etc/artemis.profile` contains the line `ARTEMIS_HOME='/opt/apache-artemis-2.11.0'`. The file must be recreated or updated when the version is changed

[2020-09-17 19:57] Evan-Finnigan opened #167 "Modifying the activemq.xml file."
Is it possible for me to modify the `activemq.xml` file in this image? I want to add configuration for a Redelivery Policy. Where would I find the activemq.xml file, and is there a similar procedure to adding `broker{{num}}.xml` files to `/var/lib/artemis/etc-override`?

[2020-09-18 09:24] vromero commented on #167
Hi @Evan-Finnigan, you are confusing ActiveMQ with ActiveMQ Artemis. This image is for the later, you need to find an image for ActiveMQ like for instance https://hub.docker.com/r/rmohr/activemq

[2020-09-18 09:24] #167 closed

[2020-09-22 14:56] vromero commented on #165
Duplicate #151

[2020-09-22 14:56] #165 closed

[2020-09-28 13:55] bahrigencsoy opened #168 "Docker-compose with named volume"
_#28 is similar to this issue, but the recommended solution is to use directories for volume binding, which is not feasible for us._

With a simple docker-compose configuration with named volumes, artemis cannot start:

[code]

With the errors:

[code]

The root cause is obvious, `/var/lib/artemis/data` is owned by `root` and artemis process starts with `artemis(1000)` user. But the solution is no

[2020-09-28 15:18] vromero commented on #168
@bahrigencsoy this kind of nonsense from compose and other orchestrators (don't get me started with OpenShift) is exactly why I stated in the README orchestrators are not supported as this is not an issue with the image but with the orchestrator. You probably have more chances of getting help in a docker forum but in any case I'll leave this open for a few weeks in case someone chime in.

[2020-09-29 13:38] stephan2012 opened #169 "Rebasing to Java 11"
The Artemis Docker image is currently based on OpenJDK 8 that does not support TLS v1.3. Also, it is built on top of a somewhat outdated Debian 9 (stretch).

While I have rebased the Artemis image to use OpenJDK 11, there are two remaining issues:

1. How to deal with older Artemis releases that are not compatible with Java 11?
2. The OpenJDK Docker images do not provide support for Alpine (see _I

[2020-09-29 18:53] stephan2012 commented on #169
Okay, I've just submitted a PR that adds JDK 11 support as an additional variant (`2.15.0-jdk11`) and only for Debian.

[2020-09-30 13:04] vromero commented on #169
Some points:

Not all versions have to share the same JDK. I prepared the build system for it but I never got an answer in the Artemis dev list around which are the right Java versions: http://activemq.2283324.n4.nabble.com/Which-Java-version-is-recommended-per-each-version-of-Artemis-td4753665.html

Java Alpine in docker is complicated, this is not news for the users, we can rely on non GA versio

[2020-10-14 15:15] saleco opened #171 "ERR_CONNECTION_REFUSED when running image on windows"
Hello!
I'm not being able to access activemq when running the container on windows.
Probably need some additional configuration to allow accessing docker VM right?
Could you consider including this into the docs file?
Thank you!

[2020-10-28 13:00] sbaloo opened #172 "did you try to start more than one pod in openshift"
It works well with one pod. With 2 pods i have one running and one waiting that the other crash. When it crashes, the second run and the new ones waits.

Do you have tips and trick on how to make a cluster for artemis???

[2020-10-29 08:38] vromero commented on #172
I'm afraid I don't have tips and tricks for a commercial kubernetes implementation, apologies.

For vanilla kubernetes see my activemq-artemis-helm project.

[2020-10-29 08:38] #172 closed

[2020-10-30 18:24] guilhermecgs opened #173 "Question - Can I query the queues using REST?"
Hi folks,

I need a rest api to query/search messages in the queue. Can I use this image?
Can someone recommend one if not?

[2020-11-04 07:01] wernerm commented on #173
Yes, you should be able to use the image for that, but please see the documentation in this regard: [REST Interface](https://activemq.apache.org/components/artemis/documentation/latest/rest.html)

[2020-11-04 08:23] vidal777 opened #174 "JDBC Master/Slave"
I want to use a JDBC Oracle to connect artemis cluster database? Is possible? Thanks

[2020-11-05 13:35] vromero commented on #174
Doesn't seem like question for this forum to me but rather a question for the artemis user mailing list in the official artemis project.

[2020-11-05 13:35] #174 closed

[2020-11-05 13:39] vromero commented on #173
I started to implement another docker image with the REST Interface but I grew tired of dealing with Java containers in 2020 and gave up. This said I'm not entirely sure you can with the REST interface. If you want to pusue that path checkout my abandoned project: https://github.com/vromero/activemq-artemis-rest-docker

Another approach is to use JMX, JMS or Core. https://activemq.apache.org/compo

[2020-11-05 13:39] #173 closed

[2020-11-10 16:20] imriss opened #175 "Issues with new Limitation imposed by Docker"
Hi, could you please see if you can have a workaround for the following error (`You have reached your pull rate limit`) that we receive when trying to pull the docker image? Thanks

[code]

[2020-11-15 21:26] lettore opened #176 "2.16.0 version"
When it's planned to make an image based on the 2.16.0 version of Artemis?
Thanks

[2020-11-19 16:35] vromero commented on #175
Nothing can be done at my side except perhaps publishing somewhere else, which I'm not keen with right now as discoverability would suffer. Alternatively, at your side consider these solutions: https://www.docker.com/increase-rate-limits

[2020-11-19 16:35] #175 closed

[2020-12-02 05:42] Namphibian commented on #176
@vromero.

I noticed the name spaces for the broker.xml has changed in 2.16. This causes the merge to not work correctly for example when merging the JMX snippet into the broker.xml it now produces two core tags.

Something like this:
[code]
The enable-jmx file has the old namespaces show below
[code]

[2020-12-08 07:02] Songxinlei commented on #37
I got the same error . Do you have solved the problem?

[2020-12-12 10:24] vromero commented on #176
I'll do it right after I finish the JSON output issue.

[2020-12-13 12:15] #148 closed

[2020-12-13 22:10] Namphibian commented on #176
Hey @vromero

The problem also is in 2.15.0 as well. The JMX shows up as two tags.

Regards
Neil

[2021-01-03 16:37] vromero commented on #171
Finally was able to take time to install and test in windows. It does work as expected for me. You probably want to read more about the -P and -p docker parameters and about the windows firewall in general.

[2021-01-03 16:37] #171 closed

[2021-01-12 09:59] dbendlin commented on #176
Hi @vromero, I'm trying to include ActiveMQ Aretemis 2.16.0.

Forked your project and started hacking the code, Image works but I broke test's and I'm really not familiar with dgoss and goss, I still did not push my changes to my fork, but what'd really like to know is if you prefer to check my forked repo or wan me to send some merge request or alike?

Thanks in advance for your kind help, and co

[2021-01-12 14:08] dbendlin commented on #176
@vromero changes commited to my [fork](https://github.com/dbendlin/activemq-artemis-docker.git)

[2021-01-29 14:07] gouthami517 commented on #176
I have built docker image for 2.16.0 from source code giving base_image argument as 2.15.0 and distribution_url as https://repository.apache.org/content/repositories/releases/org/apache/activemq/apache-artemis/2.16.0/apache-artemis-2.16.0-bin.zip -t  10.88.38.67:5000/v2/activemq-artemis:2.16.0.
I would like to know if this is the correct procedure to build the image for 2.16.0.
I noticed an issue

[2021-01-29 14:27] gouthami517 opened #179 "2.16.0 build issue"
I have built docker image for 2.16.0 from source code giving base_image argument as 2.15.0 and distribution_url as https://repository.apache.org/content/repositories/releases/org/apache/activemq/apache-artemis/2.16.0/apache-artemis-2.16.0-bin.zip
Command:

docker build --no-cache=true --build-arg ACTIVEMQ_ARTEMIS_VERSION=2.16.0 --build-arg BASE_IMAGE=vromero/activemq-artemis:2.15.0 --build-arg ACT

[2021-01-30 12:20] vromero commented on #179
I don't provide support for 2.16.0 yet. I'm working on it.

[2021-01-30 12:20] #179 closed

[2021-01-30 12:21] vromero commented on #176
Working on it in https://github.com/vromero/activemq-artemis-docker/tree/fix/176

[2021-02-08 16:41] #176 closed

[2021-02-09 12:20] vromero commented on #168
Closed as some months have passed and no one popped up

[2021-02-09 12:20] #168 closed

[2021-02-12 11:35] jxsl13 opened #181 "Partake in the ASF Jira discussion"
Hey Victor and anyone else reading this,

I think it would be a great benefit to the discussion if people who would love to have ActiveMQ Artemis running  in a Docker/Kubernetes environment to partake in the following discussion.
You did do quite a lot of work in creating a proper ActiveMQ Artemis image which might help push the official "cloud nativeness" of Artemis forward.
The current state of

[2021-02-12 19:29] vromero commented on #181
@jxsl13 I've tried in the past to donate the image. That's why I have apache licence and require apache license to the contributors. First time, I believe, around three years ago.

It didn't work out, after a while I kinda gave up. Reality is that the Apache fundation doesn't seem to be very into containers. I haven't seen any good container from any Apache project. And being the first seems diffi

[2021-02-13 22:04] jxsl13 commented on #181
Thanks for the reply.

[2021-02-15 14:19] #181 closed

[2021-02-17 08:53] martijnhiemstra commented on #151
How do I fix this???? This issue is in 2.11.0 2.12.0 and 1.16.0.

@derari You said "The file /var/lib/artemis/etc/artemis.profile contains the line ARTEMIS_HOME='/opt/apache-artemis-2.11.0'. The file must be recreated or updated when the version is changed"

That is NOT my responsibility to fix! The creator of the docker image should fix that and by the way I have switched to versio 2.11.0 and tha

[2021-02-17 09:04] martijnhiemstra commented on #151
I finally got it to work. I had to stop the container, remove it, then delete all the images of artemis. Restart and then it works.

[2021-02-17 11:06] pvorb opened #182 "Non-functional image of old artemis version (2.9.0)"
8 days ago, all images on https://hub.docker.com/r/vromero/activemq-artemis were re-pushed. After a restart of a system of ours yesterday, the node pulled the Docker Image from Docker Hub and Artemis was unable to come up again. We resolved the problem by pushing an old version we still had lying around to our primary docker registry and will probably keep cached versions of the vromero/activemq-a

[2021-02-17 13:27] vromero commented on #182
Hi @pvorb thanks for letting me know, I'll take a look. In the meantime please feel free to provide more detail.

Regarding the re-pushing, of course, breaking the image is not intended. But this is a stack of software on top of software, this is: artemis customization on top of artemis and therefore two separated pieces of software.

Docker is very unfriendly with this kind of [versioning](https:

[2021-02-17 13:27] #182 closed

[2021-02-17 13:32] #151 closed

[2021-02-17 13:32] #169 closed

[2021-02-17 15:18] pvorb commented on #182
Thanks for making this clear and all your work on this image. I must admit that I didn't see that note before, usually skipping directly to the sections on how to use it. :sweat_smile:

We're using this image as a basis for a Helm Chart (https://github.com/deviceinsight/activemq-artemis-helm) and we're configuring the contents of the docker container through a dedicated init container.

Having our

[2021-02-18 10:27] vromero commented on #182
Hi @pvorb,

Thanks. Do you guys plan to maintain that helm chart for long and keep it reasonably all-purpose? I not particularly keen on maintaining my own Helm chart (Artemis is just too unfriendly with orchestrators and I don't want to spend the time) so if you have such kind of plans I'll be more than happy to close my project and redirect to yours.

Re the failing images, I tried them to a rea